.item {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    width: 210px;

    &:hover {
        .link {            
            filter: grayscale(0.5) brightness(70%);
        }
    }
}

.img {
    max-width: 100%;
}

.name {
    margin: 8px 0 2px;
    font-size: 16px;
    color: #FFFFFF;
    font-weight: 400;
}

@media screen and (max-width: 790px) {
    .item {
        width: 174px;
    }
}

@media screen and (max-width: 610px) {
    .item {
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 390px) {
    .item {
        width: 217px;
        margin: 0 auto;
    }
}