*, *::after, *::before {
    box-sizing: border-box; 
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    background-color: #1C1C1C;
    font-family: Helvetica, Arial, sans-serif;
    color: #FFFFFF;
}

.container {
    width: 958px;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
    padding-bottom: 40px;
}

@media screen and (max-width: 1024px) {
    .container {
        width: 740px;
    }
}

@media screen and (max-width: 790px) {
    .container {
        width: 562px;
    }
}

@media screen and (max-width: 610px) {
    .container {
        width: 372px;
    }
}

@media screen and (max-width: 390px) {
    .container {
        width: 320px;
    }
}