.logo {
    width: 253px;
    transition: opacity .2s ease;

    &:hover {
        opacity: .8;
    }
}

.link {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 790px) {
    .logo {
        width: 160px;
    }
}