.button {
    display: flex;
    align-items: center;
    width: calc(100% + 20px);
    position: relative;
    left: -10px;
    border-radius: 5px;
    background: #161616;
    color: #FFFFFF;
    border: none;
    outline: none;
    text-align: left;
    padding: 16px 10px;
    margin-bottom: 40px;
    cursor: pointer;

    &:hover {
        opacity: .7;
    }

    img {
        margin-right: 10px;
    }
}