.search {
    display: flex;
    flex-grow: 1;
    max-width: 630px;
    background: #FFFFFF;
    padding: 3px;
    border: 3px solid #FFFFFF;

    &.focused {
        border-color: #00A496;
    }
}

.input {
    flex-grow: 1;
    border: none;
    outline: none;
    font-size: 18px;
    padding: 0 10px;
}

.button {
    background-color: #00A496;
    color: #FFFFFF;
    border-radius: 2px;
    border: none;
    outline: none;
    padding: 13px 28px 14px 34px;
    box-sizing: border-box;
    cursor: pointer;
    transition: opacity .2s ease;

    &:hover {
        opacity: .8;
    }
}

@media screen and (max-width: 380px) {
    .button {
        padding: 10px;
    }
}