.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.logo {
    margin-bottom: 75px;
}

.search {
    display: flex;
    justify-content: center;
    width: 100%;
}